<div>
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">&nbsp;</a></li>
            </ol>

            <div class="clearfix">
                <h1 class="pull-left">Сообщения</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">

                    <div class="tabs-wrapper">
                        <ul class="nav nav-tabs">
                            <li class="<%if(!isReadingPart){%>active<%}%>"><a href="/admin/feedback?isReading=false">Не прочитанные</a></li>
                            <li class="<%if(isReadingPart){%>active<%}%>"><a href="/admin/feedback?isReading=true" >Прочитанные</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Имя</th>
                                            <th>Email</th>
                                            <th>Тема</th>
                                            <th>Сообщение</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% _.each(feedbacks, function(feed){%>
                                        <tr>
                                            <td><%= feed.name%></td>
                                            <td><%= feed.email%></td>
                                            <td><%= feed.subject%></td>
                                            <td><%= feed.message.substr(0, 100)%>...</td>
                                            <td style="width: 15%;">
                                                <a href="/admin/feedback/<%= feed.id%>" class="table-link">
                                                    <span class="fa-stack">
                                                      <i class="fa fa-square fa-stack-2x"></i>
                                                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>

                                            </td>
                                        </tr>
                                        <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- partial('./../../admin/shared/pagination.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>

